// Fonts

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Raleway&family=Roboto&family=Roboto+Condensed&display=swap");

$openSans: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;

// Colors
$background: #e3e8ec;
$white: #fff;
$softGrey: #f8f8fb;
$darkGray: #1a2e35;
$midnightBlue: #282860;
$whiteSmoke: #f0f0f6;
$lightColor: #dedcee;
$purple: #7272c6;
$slateBlue: #316393;
$darkBlue: #233567;
